In [1]:
import os
from os import listdir
import xml.etree.ElementTree as ET
import pandas as pd
import glob

In [3]:
# function to extract bounding boxes from an annotation file

def extract_boxes(filename):
    
    blood_frame = pd.DataFrame()
    
    # load and parse the file
    tree = ET.parse(filename)
    
    # get the root of the document
    root = tree.getroot()
    
    # extract each bounding box
    boxes = list()
    i_name = root[1].text    # since image name is in position [1] of .xml file - see .xml file
    width = int(root.find('.//size/width').text)
    height = int(root.find('.//size/height').text)
    
    
    for box in root.findall('.//object'):
        
        c_name = box.find('name').text
        
        xmin = int(box.find('.//bndbox/xmin').text)
        ymin = int(box.find('.//bndbox/ymin').text)
        xmax = int(box.find('.//bndbox/xmax').text)
        ymax = int(box.find('.//bndbox/ymax').text)
        coors = [i_name, c_name, xmin, xmax, ymin, ymax, width, height]
        boxes.append(coors)
        
    blood_frame = pd.DataFrame(boxes)
    
    return blood_frame

In [4]:
# Extract all info incl. boundary boxes from annotation file and creating a dataframe :

files = glob.glob('/home/scar3crow/Downloads/BCCD_Dataset-master/BCCD/Annotations/*.xml')

col_names = ['image_names', 'cell_type', 'xmin', 'xmax', 'ymin', 'ymax', 'width', 'height']

b_frame = pd.DataFrame()

for i in range(len(files)):
#    b_frame.append(extract_boxes(files[i]))
    b_frame = pd.concat([b_frame, extract_boxes(files[i])])
    
b_frame.columns = col_names

b_frame = b_frame.reset_index(drop = True)

In [6]:
print('Number of unique images = ', b_frame['image_names'].nunique())  # print total no, of unique images

print('Number of classes in diff. categories = ', b_frame['cell_type'].value_counts()) 

b_frame.tail(3)

Number of unique images =  364
Number of classes in diff. categories =  RBC          4155
WBC           372
Platelets     361
Name: cell_type, dtype: int64

               image_names  cell_type  xmin  xmax  ymin  ymax  width  height
4885  BloodImage_00248.jpg        WBC   149   354   233   423    640     480
4886  BloodImage_00147.jpg  Platelets   200   238   249   294    640     480
4887  BloodImage_00147.jpg        WBC   339   514    42   207    640     480

In [34]:
# making train_dataframe for images in train_images

train_df = pd.DataFrame()

train_image_list = list()
train_image_list = listdir('/home/scar3crow/Dropbox/WorkStation-Subrata/python/keras-frcnn/train_images')

train_df = b_frame.loc[b_frame['image_names'].isin(train_image_list)]

train_df = train_df.reset_index(drop=True)

In [35]:
train_df.tail(3)

               image_names  cell_type  xmin  xmax  ymin  ymax  width  height
3404  BloodImage_00248.jpg        WBC   149   354   233   423    640     480
3405  BloodImage_00147.jpg  Platelets   200   238   249   294    640     480
3406  BloodImage_00147.jpg        WBC   339   514    42   207    640     480

In [36]:
print('Number of images in train_images file = ', len(train_image_list))
print('Number of unique images in train dataframe = ', train_df['image_names'].nunique())

Number of images in train_images file =  254
Number of unique images in train dataframe =  254

In [37]:
data = pd.DataFrame()

data['format'] = train_df['image_names']

data.tail(3)

                    format
3404  BloodImage_00248.jpg
3405  BloodImage_00147.jpg
3406  BloodImage_00147.jpg

In [19]:
cd keras-frcnn

/home/scar3crow/Dropbox/WorkStation-Subrata/python/keras-frcnn

In [39]:
# as the images are in train_images folder, add train_images before the image name

for i in range(data.shape[0]):
    data['format'][i] = '/home/scar3crow/Dropbox/WorkStation-Subrata/python/keras-frcnn/train_images/' + data['format'][i]
    
    
# add xmin, ymin, xmax, ymax and class as per the format required
for i in range(data.shape[0]):
    data['format'][i] = data['format'][i] + ',' + str(train_df['xmin'][i]) + ',' + str(train_df['ymin'][i]) + ',' + str(train_df['xmax'][i]) + ',' + str(train_df['ymax'][i]) + ',' + train_df['cell_type'][i]

data.to_csv('annotate_new.txt', header=None, index=None, sep=' ')

In [ ]:
!python3 train_frcnn.py -o simple -p annotate_new.txt

Using TensorFlow backend.
/home/scar3crow/Dropbox/WorkStation-Subrata/python/venv1/lib/python3.5/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/scar3crow/Dropbox/WorkStation-Subrata/python/venv1/lib/python3.5/site-packages/tensorflow/python/framework/dtypes.py:524: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/scar3crow/Dropbox/WorkStation-Subrata/python/venv1/lib/python3.5/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/scar3crow/Dropbox/WorkStation-Subrata/python/venv1/lib/python3.5/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/scar3crow/Dropbox/WorkStation-Subrata/python/venv1/lib/python3.5/site-packages/tensorflow/python/framework/dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/scar3crow/Dropbox/WorkStation-Subrata/python/venv1/lib/python3.5/site-packages/tensorflow/python/framework/dtypes.py:532: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
Parsing annotation files
Training images per class:
{'Platelets': 264, 'RBC': 2882, 'WBC': 261, 'bg': 0}
Num classes (including bg) = 4
Config has been written to config.pickle, and can be loaded when testing to ensure correct results
Num train samples 208
Num val samples 46
loading weights from resnet50_weights_tf_dim_ordering_tf_kernels.h5
Could not load pretrained model weights. Weights can be found in the keras application folder 		https://github.com/fchollet/keras/tree/master/keras/applications
Starting training
Epoch 1/2000
2020-05-08 20:52:40.097940: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
2020-05-08 20:52:41.955875: W tensorflow/core/framework/allocator.cc:108] Allocation of 18874368 exceeds 10% of system memory.
2020-05-08 20:52:41.992706: W tensorflow/core/framework/allocator.cc:108] Allocation of 18874368 exceeds 10% of system memory.
2020-05-08 20:52:42.057125: W tensorflow/core/framework/allocator.cc:108] Allocation of 18874368 exceeds 10% of system memory.
2020-05-08 20:52:42.074573: W tensorflow/core/framework/allocator.cc:108] Allocation of 18874368 exceeds 10% of system memory.
2020-05-08 20:52:42.143492: W tensorflow/core/framework/allocator.cc:108] Allocation of 18874368 exceeds 10% of system memory.
 15/100 [===>..........................] - ETA: 38:26 - rpn_cls: 5.4171 - rpn_regr: 0.1241 - detector_cls: 0.7851 - detector_regr: 0.5180