In [27]:
import re
import numpy as np

In [9]:
print('\tTab')

	Tab

In [3]:
print(r'\tTab')  # prefix 'r' makes it a raw data

\tTab

In [55]:
nameage = 'Janice is 22 and Theon is 32 and Gabriel is 23 and Joey is 21'
print(nameage)

Janice is 22 and Theon is 32 and Gabriel is 23 and Joey is 21

In [33]:
type(nameage)

str

In [54]:
age = re.findall(r'\d{1,3}', nameage)
name = re.findall(r'[A-Z][a-z]*', nameage)
print(age)
print(name)

['22', '32', '23', '21']
['Janice', 'Theon', 'Gabriel', 'Joey']

In [34]:
print(type(age))
print(type(name))

<class 'list'>
<class 'list'>

In [35]:
allinform = re.findall('inform', 'we need to inform him with latest information')
print(allinform)

['inform', 'inform']

In [40]:
num = '123, 1235, 12344, 123456, 1234567'
x = re.findall('\d{5,7}', num)
print(x)

['12344', '123456', '1234567']