In [1]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
import re
import os

In [2]:
print(os.getcwd())

/home/scar3crow/Dropbox/WorkStation-Subrata/python

In [138]:
data1 = pd.ExcelFile('Tranzact2.xlsx')

In [139]:
tranzact_data1 = data1.parse(0)
lamba = len(tranzact_data1)
print(lamba)

28922

In [140]:
tranzact_data1.columns

Index(['Company', 'Supplier', 'Item', 'Category', 'UOM', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

In [141]:
tranzact_data1.head()

,Company,Supplier,Item,Category,UOM,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,M/S Plastech,Pukhraj Additives LLP,ZINCOPLAST ZINC,Raw Material (RM),KGS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M/S Plastech,Pukhraj Additives LLP,ZINCOPLAST PYN,Raw Material (RM),KGS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Modern Engineering & Spring Company,Bijal Steels,"Chromium Manganese Spring Steel As Rolled, SUP...",Raw Materials (RM),KGS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Modern Engineering & Spring Company,Bijal Steels,"Chromium Manganese Spring Steel As Rolled, SUP...",Raw Materials (RM),KGS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Modern Engineering & Spring Company,Bijal Steels,"Chromium Manganese Spring Steel As Rolled, SUP...",Raw Materials (RM),KGS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [152]:
#tranzact_data_col_reduce = tranzact_data1.drop(tranzact_data1.columns[[3,4,5,6,7,8,9,10,11,12,13,14,15,16]], axis=1)
tranzact_data2 = tranzact_data1.iloc[0:lamba, 0:3]


tranzact_data = tranzact_data2.dropna()
tranzact_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28921 entries, 0 to 28921
Data columns (total 3 columns):
Company     28921 non-null object
Supplier    28921 non-null object
Item        28921 non-null object
dtypes: object(3)
memory usage: 903.8+ KB

In [153]:
tranzact_data.head()

,Company,Supplier,Item
0,M/S Plastech,Pukhraj Additives LLP,ZINCOPLAST ZINC
1,M/S Plastech,Pukhraj Additives LLP,ZINCOPLAST PYN
2,Modern Engineering & Spring Company,Bijal Steels,"Chromium Manganese Spring Steel As Rolled, SUP..."
3,Modern Engineering & Spring Company,Bijal Steels,"Chromium Manganese Spring Steel As Rolled, SUP..."
4,Modern Engineering & Spring Company,Bijal Steels,"Chromium Manganese Spring Steel As Rolled, SUP..."

In [156]:
## Cleaning the Item Description
pd.options.mode.chained_assignment = None

tranzact_data['clean'] = tranzact_data['Item'].str.replace(r'\b\d+\b','')  ## remove integers
print(tranzact_data['clean'][5])

tranzact_data['clean'] = tranzact_data['clean'].str.replace(r'\W',' ')   ## remove puntuations
print(tranzact_data['clean'][5])

tranzact_data['clean'] = tranzact_data['clean'].str.replace(r'\b\w\b','') ## remove stand alone single letters
print(tranzact_data['clean'][5])

tranzact_data['clean'] = tranzact_data['clean'].str.replace(r'\s+',' ') ## remove gaps between words to singe gap
print(tranzact_data['clean'][5])

print(type(tranzact_data['clean']))
print(type(tranzact_data['clean'][5][1]))

## Removing unneccessary words like measurment units etc.
                                                                        
words = stopwords.words("english")

#newstopwords = ['mm', 'ft', 'as']
#words.append(newstopwords)

words.append('mm')
words.append('ft')
words.append('as')
words.append('to')
words.append('NOS')

tranzact_data['clean']= tranzact_data['clean'].apply(lambda x:' '.join([i for i in x.split()
                                                                                if i not in words]).lower())
print(tranzact_data['clean'][5])
tranzact_data['clean']

MS Sheet  ft x  ft x . mm -  NOS
MS Sheet  ft x  ft x   mm    NOS
MS Sheet  ft   ft    mm    NOS
MS Sheet ft ft mm NOS
<class 'pandas.core.series.Series'>
<class 'str'>
ms sheet

0                                          zincoplast zinc
1                                           zincoplast pyn
2        chromium manganese spring steel as rolled sup9...
3        chromium manganese spring steel as rolled sup9...
4        chromium manganese spring steel as rolled sup9...
5                                                 ms sheet
6                                                 ms sheet
7                               ms plate holes drg rev ae0
8                               ms plate holes drg rev ae2
9                   ms plate holes drg 00950d070103820 rev
10                  ms plate holes drg 00950d070103820 rev
11                  ms plate holes drg 00950d070103820 rev
12       chromium silicon spring steel as rolled grade ...
13       chromium silicon spring steel as rolled grade ...
14                    spring steel unalloyed grade sm coil
15                  spring steel unalloyed grade size coil
16                  spring steel unalloyed grade size coil
17                  spring steel unalloyed grade size coil
18                  spring steel unalloyed grade size coil
19                  spring steel unalloyed grade size coil
20                  spring steel unalloyed grade size coil
21                  spring steel unalloyed grade size coil
22                  spring steel unalloyed grade size coil
23                  spring steel unalloyed grade size coil
24                  spring steel unalloyed grade size coil
25                  spring steel unalloyed grade size coil
26                  spring steel unalloyed grade size coil
27                  spring steel unalloyed grade size coil
28                  spring steel unalloyed grade size coil
29                  spring steel unalloyed grade size coil
                               ...
28892                                          imercarb 1t
28893          machined components bush machining material
28894               machined components shaft en machining
28895                                      copper wire dia
28896    rm hm profile cut finish id x320 od x36 thk ra...
28897    ss perforated sheet thickness mm hole dia mm p...
28898    spiral wound gasket with inner ring sealing fi...
28899            coating etfe micron antistatic 2m dia anf
28900                                                yt ii
28901                                                   yt
28902     daily clean buy get inner_445x250x135_3ply120all
28903    daily clean buy get shipper_530x455x560_7plyto...
28904             scv 300rf bb a351 cf3m b8m trcf3m st6 bo
28905                                       pvc gland pg11
28906                                       pvc gland pg13
28907                                      pvc gland m25x1
28908                       wire sleeve plastic id 4mm red
28909                                    ferrul number 1mm
28910                                    ferrul number 1mm
28911                                    ferrul number 1mm
28912                                    ferrul number 1mm
28913                                    ferrul number 1mm
28914                                    ferrul number 1mm
28915                                    ferrul number 1mm
28916                                    ferrul number 1mm
28917                                    ferrul number 4mm
28918                                    ferrul number 4mm
28919                                    ferrul number 4mm
28920                                    ferrul number 4mm
28921                          hard copper pipe gauge long
Name: clean, Length: 28921, dtype: object

In [147]:
tranzact_data.columns

Index(['Company', 'Supplier', 'Item', 'clean'], dtype='object')

In [148]:
tranzact_data.head()

,Company,Supplier,Item,clean
0,M/S Plastech,Pukhraj Additives LLP,ZINCOPLAST ZINC,zincoplast zinc
1,M/S Plastech,Pukhraj Additives LLP,ZINCOPLAST PYN,zincoplast pyn
2,Modern Engineering & Spring Company,Bijal Steels,"Chromium Manganese Spring Steel As Rolled, SUP...",chromium manganese spring steel as rolled sup9...
3,Modern Engineering & Spring Company,Bijal Steels,"Chromium Manganese Spring Steel As Rolled, SUP...",chromium manganese spring steel as rolled sup9...
4,Modern Engineering & Spring Company,Bijal Steels,"Chromium Manganese Spring Steel As Rolled, SUP...",chromium manganese spring steel as rolled sup9...

In [ ]:
material1 = re.findall(r'\d*[A-Z]*\d{1,5}', MESCO_data['Clean'][657])
#  material1 = re.findall(r'\d*[A-Z]*\d+', MESCO_data['Clean'][657]) ## this also gives same result
print(material1)

In [43]:
material1a = re.findall(r'\b\d+\b', MESCO_data['Clean'][657])
print(material1a)

['30', '00', '22']

In [35]:
print(type(MESCO_data['Clean'][657]))
print(MESCO_data['Clean'][657])

<class 'str'>
CHROMIUM VANADIUM SPRING STEEL ANNEALED  50CRV4 30 00 MM ST BAR 22 FT

In [14]:
type(material1)

list

In [30]:
string1="Max is 27 years old and his next birthday is on 03.12.2018."
arr=map(int, re.findall(r'\d+', string1))
print(string1+"; "+str(arr))

Max is 27 years old and his next birthday is on 03.12.2018.; <map object at 0x7fdabee87320>

In [36]:
material1_digits = map(int, re.findall(r'\d+', MESCO_data['Clean'][657]))
print(str(material1_digits))
material1_digits

<map object at 0x7fdabed5bef0>

In [16]:
print(type(material1[0]))
print(type(material1[1]))

<class 'str'>
<class 'str'>

In [38]:
material2 = re.findall(r'\d*[A-Z]*\d+', MESCO_data['Clean'][660])
print(material2)

['ACROS1950', '14', '30']

In [42]:
#MESCO_data['Clean'] = MESCO_data['product_name'].str.replace(r'\W',' ')
MESCO = map(int, re.findall(r'\d+', MESCO_data['Clean']))

TypeError: expected string or bytes-like object

In [15]:
MESCO_data['Clean'][657]

'CHROMIUM VANADIUM SPRING STEEL ANNEALED  50CRV4 30 00 MM ST BAR 22 FT'

In [40]:
MESCO_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 661 entries, 0 to 660
Data columns (total 12 columns):
supplier_item_id      661 non-null int64
to_company_name       661 non-null object
supplier_item_id.1    661 non-null int64
product_name          661 non-null object
product               661 non-null object
sub_type              24 non-null object
material              591 non-null object
process               492 non-null object
grade                 567 non-null object
spec                  0 non-null float64
brand                 0 non-null float64
Clean                 661 non-null object
dtypes: float64(2), int64(2), object(8)
memory usage: 62.0+ KB

In [51]:
type(material1)

list

In [47]:
type(MESCO_data['Clean'][660])

str

In [16]:
import sklearn

In [19]:
from sklearn.feature_extraction.text import CountVectorizer

In [22]:
cv1 = CountVectorizer()

In [23]:
x_tranzact = IWI_MESCO_data['product_name']

In [24]:
x_tranzact_cv = cv1.fit_transform(x_tranzact)

In [25]:
x_tranzact_cv.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [26]:
cv1.get_feature_names()

['00',
 '00950d070100090',
 '00950d070103820',
 '03',
 '05',
 '07',
 '09',
 '10',
 '100',
 '1000',
 '101',
 '1010',
 '102',
 '1050',
 '11',
 '110',
 '1105',
 '1121',
 '1155',
 '1175',
 '12',
 '120',
 '1200',
 '1220',
 '1250',
 '127',
 '12ft',
 '12mm',
 '13',
 '1320',
 '1390',
 '14',
 '145',
 '1490',
 '15',
 '150',
 '1500',
 '152',
 '16',
 '160',
 '1650',
 '17',
 '170',
 '1750',
 '18',
 '180',
 '1800',
 '1850',
 '18ft',
 '19',
 '1950',
 '19ft',
 '20',
 '200',
 '201',
 '205',
 '2050',
 '206',
 '20mm',
 '21',
 '2159',
 '22',
 '220',
 '2225',
 '22ft',
 '23',
 '230',
 '2340',
 '2380',
 '24',
 '2440',
 '24x110',
 '25',
 '250',
 '2500',
 '26',
 '265',
 '27',
 '28',
 '287',
 '2950',
 '2m',
 '30',
 '300',
 '3000',
 '304',
 '304q',
 '3050',
 '31',
 '310',
 '315',
 '316',
 '317',
 '32',
 '321',
 '325',
 '33',
 '330',
 '34',
 '340',
 '347',
 '35',
 '350',
 '36',
 '37',
 '38',
 '39',
 '3mm',
 '40',
 '400',
 '406',
 '41314698',
 '41314699',
 '4140',
 '415',
 '42',
 '425',
 '43',
 '44',
 '445',
 '45',
 '450',
 '48',
 '484',
 '50',
 '500',
 '50crv4',
 '51crv4',
 '525',
 '52crmov4',
 '52crv4',
 '54sicr6',
 '55',
 '550',
 '5500',
 '57',
 '58',
 '596',
 '60',
 '600',
 '609',
 '621',
 '63',
 '65',
 '653',
 '660',
 '675',
 '68',
 '70',
 '700',
 '718',
 '72',
 '740',
 '75',
 '750',
 '78',
 '80',
 '813',
 '831',
 '837',
 '840',
 '85',
 '850',
 '860',
 '88',
 '90',
 '90Ã¢',
 '910',
 '916',
 '92',
 '926',
 '945',
 '95',
 '99',
 'a24',
 'a3',
 'a30',
 'a4',
 'acros1950',
 'ae0',
 'ae2',
 'air',
 'alloyed',
 'angle',
 'annealed',
 'as',
 'b2b',
 'bar',
 'base',
 'bcw',
 'belt',
 'big',
 'blaack',
 'blade',
 'bolt',
 'brass',
 'brench',
 'bronze',
 'c24q5b1551',
 'canvas',
 'castrol',
 'chain',
 'chainlink',
 'chicken',
 'chromium',
 'cl',
 'coil',
 'compressor',
 'connector',
 'conveyor',
 'copper',
 'cutter',
 'cutting',
 'demister',
 'dia',
 'die',
 'disc',
 'dotted',
 'dresser',
 'drg',
 'eco',
 'edge',
 'empty',
 'en',
 'en19',
 'en24',
 'en45',
 'en45a',
 'en47',
 'enamal',
 'epoxy',
 'expanded',
 'face',
 'fdsicr',
 'feet',
 'flat',
 'for',
 'frp',
 'ft',
 'full',
 'gi',
 'gloves',
 'grade',
 'grey',
 'grinder',
 'grinding',
 'hand',
 'hard',
 'hole',
 'holes',
 'hollander',
 'hp',
 'hydraulic',
 'id',
 'inconel',
 'inside',
 'kwality',
 'lavas',
 'led',
 'length',
 'link',
 'lite',
 'lock',
 'long',
 'machine',
 'magnetic',
 'manganese',
 'marking',
 'measuring',
 'mesh',
 'micron',
 'mild',
 'mm',
 'monel',
 'ms',
 'mtr',
 'na',
 'no',
 'nos',
 'nut',
 'od',
 'of',
 'oil',
 'opening',
 'ot',
 'outside',
 'pad',
 'paint',
 'paper',
 'perforated',
 'phoshporus',
 'pipe',
 'pitch',
 'plain',
 'plate',
 'pp',
 'prep',
 'prestige',
 'printing',
 'quality',
 'r5v6',
 'red',
 'rev',
 'rod',
 'roll',
 'rolled',
 'rope',
 'round',
 'sae4140',
 'sae6150',
 'sae9254',
 'screen',
 'set',
 'sheet',
 'silicon',
 'size',
 'sm',
 'small',
 'solcut',
 'sp',
 'spare',
 'spring',
 'spst',
 'ss',
 'ss302',
 'ss304',
 'ss316',
 'st',
 'stainless',
 'std',
 'steel',
 'stick',
 'straight',
 'strut',
 'sukha',
 'sup11',
 'sup12b',
 'sup7',
 'sup9',
 'sv',
 'swg',
 'tape',
 'tdr933',
 'thck',
 'thick',
 'thickness',
 'thik',
 'thk',
 'to',
 'triangular',
 'turbo',
 'type',
 'uhs1900',
 'unalloyed',
 'ungalvd',
 'vanadium',
 'ventilator',
 'weave',
 'welded',
 'wheel',
 'white',
 'wire',
 'wiremesh',
 'with',
 'wsc',
 'x07cr18ni9',
 'x17',
 'x75']