In [1]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
import re
import os

In [41]:
df=pd.DataFrame({'pym':['a', 'b', 'b', 'c', 'd','d','d','e','e'],'srice':np.random.randn(9)})

df

  pym     srice
0   a  1.491717
1   b  2.188848
2   b -0.071849
3   c -0.477966
4   d  0.954292
5   d -0.625023
6   d  0.913713
7   e -0.132736
8   e  0.652115

In [42]:
count_list = df.pym.value_counts()
print(count_list)
print(count_list[0])

d    3
b    2
e    2
c    1
a    1
Name: pym, dtype: int64
3

In [34]:

for i in range(len(count_list)):
    print(i)
    print(count_list[i])
    print(df['sym'][count_list[i]])
    print('=============')

0
3
c
=============
1
2
b
=============
2
2
b
=============
3
1
b
=============
4
1
b
=============

In [6]:
df1 = df.groupby("sym").filter(lambda x: len(x) == 2)
df1

      price sym
1  1.112014   b
2 -0.700288   b
7  1.529632   e
8 -0.036066   e

In [7]:
len(df1.sym.value_counts())

2

In [36]:
s3 = pd.Series([0, 1, 2, 3], name='foo')

s4 = pd.Series([0, 1, 2, 3])

s5 = pd.Series([0, 1, 4, 5])

pd.concat([s3, s4, s5], axis=0)

0    0
1    1
2    2
3    3
0    0
1    1
2    2
3    3
0    0
1    1
2    4
3    5
dtype: int64

In [38]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'A': ['A0', 'A1', 'A2', 'A3'], 'B': ['B0', 'B1', 'B2', 'B3']})
left

    A   B key1
0  A0  B0   K0
1  A1  B1   K0
2  A2  B2   K1
3  A3  B3   K2

In [40]:
result = pd.merge(left, left, on = 'key1')
result

  A_x B_x key1 A_y B_y
0  A0  B0   K0  A0  B0
1  A0  B0   K0  A1  B1
2  A1  B1   K0  A0  B0
3  A1  B1   K0  A1  B1
4  A2  B2   K1  A2  B2
5  A3  B3   K2  A3  B3