In [1]:
import numpy as np
import math
import pandas as pd
import cv2
import os
#import tqdm
#from scipy.io import loadmat

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

from PIL import Image
# import pytesseract

import matplotlib.pyplot as plt

import tensorflow as tf
from tensorflow import keras
from keras import backend as K

# from utils import *

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from keras.callbacks import ModelCheckpoint
from tensorflow.keras.optimizers import Adam, SGD, RMSprop
from keras.layers import *

# from keras.applications import MobileNetV2
# from keras.applications import InceptionResNetV2

from keras.models import Model
from keras.models import model_from_json
from keras import regularizers

#from keras.initializers import he_normal

In [3]:
target_size = [608, 608]

target_w = 608 # target sizes of image in model input
target_h = 608 #target sizes of image in model input

class_num = 1     ## item

categories = ['bom'] # details of classes

In [54]:
# Loading output of VGG Image Annotation tool and create a dataframe

region_data = []
r_data = pd.DataFrame()

for i in range(1, 28):
    via_folder = '/Users/subrata/workstation/jupyterFiles/yolo_data_file/via_region_data_drg_test_' + str(i) + '.csv'
    region = pd.read_csv(via_folder)
    region_data.append(region)
    
r_data = pd.concat(region_data).reset_index()

r_data_master = r_data[~r_data['region_shape_attributes'].str.contains('{}')].reset_index(drop=True) # remove drgs having no bbox info
r_data_master_unique = r_data_master.drop_duplicates('#filename', keep=False).reset_index(drop=True) # remove duplicate rows
r_data_master_unique.drop(r_data_master_unique.columns[[0, 2, 3, 4, 5]], axis=1, inplace=True) # reduce unnecessary columns

num_images_in_data_master = r_data_master_unique["#filename"].nunique()
r_data_master_image_list = r_data_master_unique["#filename"].tolist()

In [55]:

print(r_data_master_unique.isnull().any())   ## check whether any Nan value in any cell
print('==============')
print(r_data_master_unique.eq(0).any())  ## check whether any '0' value in any cell

#filename                  False
region_shape_attributes    False
region_attributes          False
dtype: bool
==============
#filename                  False
region_shape_attributes    False
region_attributes          False
dtype: bool

In [56]:
print(len(r_data))
print(len(r_data_master))
print(len(r_data_master_unique))
r_data_master_unique.tail(3)

1470
1461
1435

,#filename,region_shape_attributes,region_attributes
1432,SOM 14 003437 MHIL-Model-1-page-001.jpg,"{""name"":""rect"",""x"":0,""y"":0,""width"":0,""height"":0}",{}
1433,SOM 14 003437 MHIL-Model-2-page-001.jpg,"{""name"":""rect"",""x"":0,""y"":0,""width"":0,""height"":0}",{}
1434,SOM 14 003437 MHIL-Model-page-001.jpg,"{""name"":""rect"",""x"":0,""y"":0,""width"":0,""height"":0}",{}

In [23]:
mask = r_data['region_shape_attributes'] == '{}'
aaa = r_data[mask].reset_index(drop=True)
aaa

,index,#filename,file_size,file_attributes,region_count,region_id,region_shape_attributes,region_attributes
0,22,1023.jpg,1544464,{},0,0,{},{}
1,2,1039.jpg,521346,{},0,0,{},{}
2,2,1111.jpg,907024,{},0,0,{},{}
3,5,1114.jpg,1031740,{},0,0,{},{}
4,32,1141.jpg,1297495,{},0,0,{},{}
5,20,1171.jpg,732098,{},0,0,{},{}
6,4,0085-16-SWZ-00-00 R2-Model-page-001.jpg,1072001,{},0,0,{},{}
7,19,0085-16-SWZ-04-02-Model-page-001.jpg,569050,{},0,0,{},{}
8,7,9718-19-SRZ-01-09-Model-page-001.jpg,135701,{},0,0,{},{}

In [29]:
duplicate_mask = r_data.duplicated('#filename', keep = False)
duplicates_r_data = r_data[duplicate_mask]
duplicates_r_data = duplicates_r_data.sort_values('#filename').reset_index(drop=True)
duplicates_r_data.tail()

,index,#filename,file_size,file_attributes,region_count,region_id,region_shape_attributes,region_attributes
21,45,9737-19-FSRS-02-00-Model-page-001.jpg,788039,{},1,0,"{""name"":""rect"",""x"":2210,""y"":1352,""width"":845,""...","{""text"":""bom""}"
22,64,9737-19-FSRS-05-01SH1-Model-page-001.jpg,1258718,{},1,0,"{""name"":""rect"",""x"":2144,""y"":503,""width"":921,""h...","{""text"":""bom""}"
23,46,9737-19-FSRS-05-01SH1-Model-page-001.jpg,1254232,{},1,0,"{""name"":""rect"",""x"":2121,""y"":534,""width"":907,""h...","{""text"":""bom""}"
24,75,JW330-18.5@1000-02-06-Model-page-001.jpg,742731,{},1,0,"{""name"":""rect"",""x"":1423,""y"":1116,""width"":1583,...","{""text"":""bom""}"
25,9,JW330-18.5@1000-02-06-Model-page-001.jpg,843630,{},1,0,"{""name"":""rect"",""x"":1497,""y"":1060,""width"":1778,...","{""text"":""bom""}"

In [57]:
num_image_folder = []
drg_image = []

for i in range(1, 28):
    drg_folder = 'drg_test_' + str(i)
    drg_directory = '/Users/subrata/workstation/jupyterFiles/yolo_data_file/' + drg_folder
    inter_var_1 = drg_directory + '/{}'
    drg_folder = [inter_var_1.format(i) for i in os.listdir(drg_directory)]
    num_image_folder.append(len(drg_folder))
    drg_image.append(drg_folder)

print('Number of images in folders = ', num_image_folder)
num_images = len(drg_image)
print('Number of image folders = ', num_images)

Number of images in folders =  [36, 36, 36, 42, 36, 41, 35, 54, 54, 40, 106, 54, 61, 53, 98, 97, 95, 99, 12, 32, 45, 45, 45, 47, 46, 66, 58]
Number of image folders =  27

In [58]:
## drg_image above is a list of lists. We need to flatten this and create a dataframe: 

from itertools import chain

drg_image_path_df = pd.DataFrame()

k = list(chain.from_iterable(map(list, drg_image)))
drg_image = k
drg_image.sort() # Sorting the list

drg_image_path_values = pd.Series(drg_image)
drg_image_path_df.insert(loc=0, column='i_path', value = drg_image_path_values)

drg_image_path_df.tail(3)

                                                 i_path
1466  /Users/subrata/workstation/jupyterFiles/yolo_d...
1467  /Users/subrata/workstation/jupyterFiles/yolo_d...
1468  /Users/subrata/workstation/jupyterFiles/yolo_d...

In [44]:
drg_image_path_df['i_path'][0]

'/Users/subrata/workstation/jupyterFiles/yolo_data_file/drg_test_1/1001.jpg'

In [59]:
# remove duplicate drawings across folders

drg_image_path_df['drg_no'] = drg_image_path_df['i_path'].apply(lambda x: x.split('/')[-1])
drg_image_path_df = drg_image_path_df.drop_duplicates(subset='drg_no').reset_index(drop=True)
# drg_image_path_df = drg_image_path_df.drop('drg_no', axis=1)
drg_image_path_df.tail(3)

,i_path,drg_no
1453,/Users/subrata/workstation/jupyterFiles/yolo_d...,10834-2-20-SWZ-01-11-Model-page-001.jpg
1454,/Users/subrata/workstation/jupyterFiles/yolo_d...,10834-2-20-SWZ-04-00-Model-page-001.jpg
1455,/Users/subrata/workstation/jupyterFiles/yolo_d...,10834-2-20-SWZ-04-02-Model-page-001.jpg

In [60]:
merged_drg_data = pd.merge(drg_image_path_df.rename(columns={'drg_no': '#filename'}), r_data_master_unique, on='#filename')

In [61]:
merged_drg_data.tail()

,i_path,#filename,region_shape_attributes,region_attributes
1427,/Users/subrata/workstation/jupyterFiles/yolo_d...,10834-2-20-SWZ-01-06-Model-page-001.jpg,"{""name"":""rect"",""x"":1120,""y"":744,""width"":536,""h...","{""text"":""bom""}"
1428,/Users/subrata/workstation/jupyterFiles/yolo_d...,10834-2-20-SWZ-01-07-Model-page-001.jpg,"{""name"":""rect"",""x"":1166,""y"":839,""width"":493,""h...","{""text"":""bom""}"
1429,/Users/subrata/workstation/jupyterFiles/yolo_d...,10834-2-20-SWZ-01-11-Model-page-001.jpg,"{""name"":""rect"",""x"":1161,""y"":513,""width"":500,""h...","{""text"":""bom""}"
1430,/Users/subrata/workstation/jupyterFiles/yolo_d...,10834-2-20-SWZ-04-00-Model-page-001.jpg,"{""name"":""rect"",""x"":1051,""y"":709,""width"":608,""h...","{""text"":""bom""}"
1431,/Users/subrata/workstation/jupyterFiles/yolo_d...,10834-2-20-SWZ-04-02-Model-page-001.jpg,"{""name"":""rect"",""x"":1138,""y"":874,""width"":517,""h...","{""text"":""bom""}"